.container {
  padding: 40px 20px;
  background: #fff;
  border-radius: 12px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.06);
}

.title {
  font-size: 28px;
  font-weight: 700;
  margin-bottom: 30px;
  text-align: center;
  color: #222;
}

.langTabs {
  display: flex;
  gap: 0.5rem;
  justify-content: center;
  flex-wrap: wrap;
  margin: 1rem 0px;
}

.langTabs button {
  padding: 0.5rem 1.2rem;
  border-radius: 6px;
  border: 2px solid transparent;
  background: #f0f0f0;
  font-weight: 600;
  width: 30%;
  min-width: 75px;
  color: #333;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.langTabs button:hover {
  background-color: #dbeafe;
  border-color: #3b82f6;
  color: #1d4ed8;
}

.langTabs .active {
  background-color: #3b82f6;
  border-color: #3b82f6;
  color: white;
}

.section {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.section label {
  font-weight: 600;
  margin-bottom: 5px;
  color: #333;
}

.section input[type="text"],
.section textarea {
  padding: 10px 12px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 14px;
}


.submitButton {
  display: block;
  width: 100%;
  margin: 2rem auto 0 auto;
  padding: 0.75rem 2rem;
  font-size: 1.1rem;
  font-weight: 600;
  background: linear-gradient(to right, #00c6ff, #0072ff);
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  box-shadow: 0 4px 12px rgba(0, 114, 255, 0.4);
  transition: background 0.3s ease, transform 0.2s ease;
}

.submitButton:hover {
  background: linear-gradient(to right, #0072ff, #00c6ff);
  transform: translateY(-2px);
}