.uploader {
  margin-bottom: 1rem;
}

.uploadLabel {
  display: inline-flex;
  align-items: center;
  gap: 8px;
  padding: 10px 20px;
  background: #fff;
  border: 1px solid #ccc;
  color: white;
  font-weight: 500;
  border-radius: 6px;
  cursor: pointer;
  font-size: 14px;
  transition: background 0.3s ease;
  margin-bottom: 15px;
}

.uploadLabel:hover {
  background: #005bb5;
  color: white;
}

.uploadIcon {
  font-size: 16px;
}


.previewGrid {
  display: flex;
  flex-direction: row;
  overflow-x: auto;
  gap: 10px;
  padding: 5px 0;
}

.previewItem {
  position: relative;
  width: 80px;
  height: 80px;
  border: 1px solid #ccc;
  border-radius: 6px;
  overflow: hidden;
  flex-shrink: 0;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
}

.previewItem img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.previewItem button {
  position: absolute;
  top: 2px;
  right: 2px;
  background: rgba(0, 0, 0, 0.6);
  color: white;
  border: none;
  border-radius: 50%;
  width: 18px;
  height: 18px;
  font-size: 12px;
  line-height: 18px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
